<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<html>
  {{ partial "header.html" . }}
  <body class="is-loading">
    <!-- Wrapper -->
      <div id="wrapper">
          <section id="main">
            <a href='{{ .Site.BaseURL }}'><i class="fa fa-home" aria-hidden="true" style="padding:1em"></i></a>
            <header>
              <h1 class="name">{{- .Title -}}</h1>
            </header>
            {{ .Content }}
           </section> 
          {{ partial "footer.html" . }}
      </div>
    {{ partial "footer_scripts.html" . }}
  </body>
</html>
